/** General **/

@media (max-width: @screen-xs-max) {
  body {font-size: 10px;}
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto;
  font-size: 12px;
  color: #424242;
}

img {
  padding: 10px;
}

/* #HACK - Modified this from StackOverflow since hr wasn't styling properly before */
hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;
  background-color:#000;
  height: 5px;
}

h1, h2 {
  text-align: right;
  text-transform: uppercase;
  word-wrap: break-word;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h4 {
  font-size: 1em;
}

/* Header Specific */

header {
  margin: 15px;
  justify-content: center;
}

header .row {
  padding-bottom: 5px;
}

/* Class Specific */

.background {
  height: 100%;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.featured-work a {
  word-wrap: break-word;
}
